/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: sans-serif;
}

/* CUSTOM STYLES */

#root {
  display: flex;
  flex-direction: column;
}

header {
  padding: 9px 3%;
  background: #ddd;
  color: #333;
}

header h3 {
  font-weight: 400;
  font-size: 1.025rem;
}

main {
  flex: 1;
  display: flex;
}

main section {
  flex: 1;
  padding: 20px 3%;
}

footer {
  padding: 25px 3%;
  background: #eee;
  color: #555;
}

footer p {
  font-size: .9rem;
}