/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: sans-serif;
}

/* CUSTOM STYLES */

#root {
  display: flex;
  flex-direction: column;
}

header {
  padding: 9px 3%;
  background: #ddd;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  font-weight: 400;
  font-size: 1.025rem;
}

header .count-controls button {
  padding: 3px 8px;
  cursor: pointer;
}

header .count-controls button:not(:last-child) {
  margin-right: 15px;
}

main {
  flex: 1;
  display: flex;
  padding: 35px 5%;
}

footer {
  padding: 25px 3%;
  background: #eee;
  color: #555;
}

footer p {
  font-size: .9rem;
}